@media screen and (max-width: 600px) {
    #meme_img {
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    #meme_img {
        width: 50%;
    }
}

footer {
    text-align: center;
    font-size: 0.8em;
}

#main_content {
    border-radius: 1rem;
}
